.addition-photos {
  display: none;
  width: fit-content;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  // @media (min-width: $desktop-width) {
  //   width: $desktop-width;
  //   padding: 0 120px;
  // }
}

.addition-photos__image {
  display: block;
}
