.advantages {
  padding: 20px 0;
}

.advantages__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {}
}

.advantages__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {}
}

.advantages__slider-item:last-child:nth-child(2n+1) {

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
   display: flex;
   justify-content: center;
  }
}
