.advantages-card {
  position: relative;
  min-width: 290px;
  max-width: 290px;
  padding: 83px 9px 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  // justify-content: center;
  border: 1px solid rgba(2, 102, 193, 0.1);
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 21px;
    width: 42px;
    height: 42px;
    border: 1px solid $color-navy-blue;
    background-size: 42px 42px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--safety::after {
    background-image: url("/__spritemap#sprite-safety-view");
  }

  &--knowledge::after {
    background-image: url("/__spritemap#sprite-crown-view");
  }

  &--equipment::after {
    background-color: $color-navy-blue;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 24px;
    mask-image: url("/__spritemap#sprite-boots-view");
  }

  &--equipment::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 21px;
    width: 42px;
    height: 42px;
    border: 1px solid $color-navy-blue;
  }

  &--route::after {
    background-image: url("/__spritemap#sprite-route-view");
  }

  &--ecology::after {
    background-image: url("/__spritemap#sprite-flower-view");
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    max-width: 324px;
    min-height: 340px;
    padding: 103px 19px 30px;
    background-position: top 30px center;

    &::after {
      top: 29px;
      width: 48px;
      height: 48px;
    }

    &--equipment::before {
      top: 29px;
      width: 48px;
      height: 48px;
    }

    &--ecology {
      padding-top: 102px;
    }

    &--ecology::after {
      top: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 380px;
    max-width: 380px;
    min-height: 329px;
    padding: 124px 20px 40px;
    background-position: top 40px center;

    &::after {
      top: 39px;
      width: 54px;
      height: 54px;
    }

    &--equipment::before {
      top: 39px;
      width: 54px;
      height: 54px;
    }
  }
}

.advantages-card__content {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  h3 {
    word-break: break-word;
    margin: 0 auto 15px;

    // margin-bottom: 15px;
    max-width: 230px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
  }

  p {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      max-width: 260px;
    }

    p {
      font-size: 14px;
      line-height: 1.57;
    }
  }

  @media (min-width: $desktop-width) {
    h3 {
      max-width: 300px;
      font-size: 18px;
    }
  }
}
