.container {
  width: 100%;
  max-width: $wide-desktop-width;
  margin: 0 auto;
  padding: 0 15px;

  &--without-left-padding {
    padding: 0;
  }

  &--wide {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 45px;

    &--without-left-padding {
      padding: 0 45px 0 0;
    }

    &--without-right-padding {
      padding: 0 0 0 45px;
    }

    &--wide {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    @include fluid(
      padding-inline,
      60,
      120,
      $vp-desktop-num,
      $vp-wide-desktop-num
    );

    &--without-left-padding {
      @include fluid(
        padding-right,
        60,
        120,
        $vp-desktop-num,
        $vp-wide-desktop-num
      );
    }

    &--without-right-padding {
      @include fluid(
        padding-left,
        60,
        120,
        $vp-desktop-num,
        $vp-wide-desktop-num
      );
    }

    &--100vw-desktop {
      padding: 0;
      overflow: hidden;
    }
  }
}
