.container {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 15px;

  &--without-left-padding {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 45px;

    &--without-left-padding {
      padding: 0 45px 0 0;
    }

    &--without-right-padding {
      padding: 0 0 0 45px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;

    &--without-left-padding {
      padding: 0 120px 0 0;
    }

    &--without-right-padding {
      padding: 0 0 0 120px;
    }

    &--100vw-desktop {
      padding: 0;
      overflow: hidden;
    }
  }
}
