.form {
  padding: 177px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 186px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 293px 0 40px;
  }
}

.form__top-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-white;

  h3 {
    margin: 0;
    margin-bottom: 17px;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    word-break: break-word;
  }

  p {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }

  p:last-child {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }

    h3 {
      font-size: 25px;
      margin-bottom: 22px;
    }

    p {
      font-size: 16px;
    }

    p:last-child {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    h3 {
      font-size: 35px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }

    p:last-child {
      margin-bottom: 40px;
    }
  }
}

.form__bottom-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 750px 180px;
    column-gap: 30px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 258px;

  @media (min-width: $desktop-width) {
    width: fit-content;
  }
}

.form__inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-auto-flow: row dense;
    gap: 30px;
  }
}

.form__list-item {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: unset;
  }
}

.form__button {
  width: 100%;
  min-height: 58px;

  @media (min-width: $desktop-width) {
    min-height: 56px;
    height: fit-content;
    grid-column: 2 / -1;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
