.gallery-card {
  min-width: 158px;
  max-width: 158px;
  // height: 100%;

  &--two-photos {
    min-width: 157px;
    max-width: 157px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  @media (min-width: $tablet-width) {
    min-width: 253px;
    max-width: 253px;

    &--two-photos {
      min-width: 252px;
      max-width: 252px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 284px;
    max-width: 284px;
  }
}
