.gallery-card {
    min-width: 158px;
    max-width: 158px;
    height: 100%;

    &--two-photos {
      min-width: 157px;
      max-width: 157px;
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
}
