.gallery {
  padding-top: 18px;
  margin-bottom: 3px;

  --gap-between-top-and-slider: 21px;
  --slider-buttons-height: 35px;
  --inner-container-tablet: 678px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    max-width: 550px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.gallery__content {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 31px;

  p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }

  p:last-child {
    margin-bottom: 0;
  }


  @media (min-width: $tablet-width) {
    margin-bottom: var(--gap-between-top-and-slider);

    p {
      max-width: 400px;
      font-size: 14px;
      line-height: 1.57;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;

    p {
      max-width: 600px;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.gallery__slider {
  overflow: hidden;
}

.gallery__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__slider-item {
  width: fit-content;
  height: auto;
}

.gallery__buttons-swiper-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    top: calc(var(--gap-between-top-and-slider) * -1 - var(--slider-buttons-height));
    right: calc(50vw - var(--inner-container-tablet) / 2);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
