.hero-card {
  background-color: $color-air-force-blue;
  min-height: 568px;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.hero-card__image-wrap {
  z-index: 0;
  min-height: 100%;
  grid-area: 1 / 2;
}

.hero-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-card__overlay {
  z-index: $z-index-first;
  display: flex;
  align-items: center;
  grid-area: 1 / 2;
  padding: 44px 0 70px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;

    .hero-card--addition-photos & {
      padding-top: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
    align-items: flex-end;
  }
}

.hero-card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 14px;

  @media (min-width: $tablet-width) {
    padding: 9px 0 14px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}


.hero-card__content {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  color: $color-white;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 52px;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    line-height: 1;
    color: $color-white;
  }

  p {
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    color: $color-white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    max-height: 305px;

    h2 {
      font-size: 56px;
    }

    p {
      max-width: 473px;
      font-size: 17px;
      line-height: 1.41;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    max-width: 944px;

    h2 {
      margin-bottom: 25px;
      text-align: left;
      font-size: 77px;
    }

    p {
      max-width: 464px;
      margin-left: 0;
      text-align: left;
    }
  }
}

.hero-card__button {
  width: 180px;
  min-height: 56px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}

.hero-card__addition-wrap {
  margin: 0;
  display: none;
  gap: 10px;

  @media (min-width: $desktop-width) {
    display: flex;
    grid-column: 1 / 2;
  }
}

.hero-card__addition-photos {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 187px;
    right: 120px;
  }
}

.hero-card__addition-info {
  padding: 10px 20px 10px 40px;
  min-height: 44px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.50);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: $color-white;
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 12px 12px;

  &--duration {
    background-image: url('/__spritemap#sprite-moon-view');
  }

  &--level {
    background-image: url('/__spritemap#sprite-level-view');
  }
}
