.hero {
  background-color: $color-air-force-blue;
}

.hero__slider {
  overflow: hidden;
}

.hero__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__slider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2px;
}

.swiper-pagination-bullet {
  margin: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  opacity: 1;
  background-color: transparent;
  background-image: radial-gradient(circle, transparent 7px, $color-white 8px, transparent 9px);
  cursor: pointer;
  transition: background-image 0.3s;

  &:hover {
    background-image: radial-gradient(circle, $color-gainsboro 7px, $color-white 8px, transparent 9px);
  }

  &:focus {
    background-image: radial-gradient(circle, transparent 7px, $color-white 8px, transparent 9px, rgba(255, 255, 255, 0.5) 10px, transparent 11px);
  }

  &:active {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 7px, $color-white 8px, transparent 9px);
  }

}

.swiper-pagination-bullet-active {
  background-image: radial-gradient(circle, $color-white 8px, transparent 9px);
}
