.hero {
  --padding-desktop: 120px;
  --destop-card-height: 800px;
  --addition-space--bullet: 5px;
}

.hero__slider {
  overflow: hidden;
  position: relative;
  background-color: $color-air-force-blue;
}

.hero__slider-item {
  height: auto;
}

.hero__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__slider .hero__slider-pagination {
  z-index: $z-index-first;
  // height: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;

  @media (min-width: $desktop-width) {
    bottom: 86px;
    left: unset;
    transform: unset;
    right: calc(50vw - $desktop-width / 2 + var(--padding-desktop) - var(--addition-space--bullet));
  }
}

.hero__pagination-control {
  margin: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0;
  opacity: 1;
  background-color: transparent;
  // border: 1px solid $color-white;
  background-image: radial-gradient(circle, transparent 6px, $color-white 8px, transparent 9px);
  cursor: pointer;
  transition: background-image 0.3s;


  &:hover {
    background-image: radial-gradient(circle, $color-gainsboro 7px, $color-white 8px, transparent 9px);

  }

  &:focus {
    background-image: radial-gradient(circle, transparent 7px, $color-white 8px, transparent 9px, transparent 11px, rgba(255, 255, 255, 0.5) 12px, transparent 13px);
  }

  &:active {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 7px, $color-white 8px, transparent 9px);
  }

  &--is-active {
    background-image: radial-gradient(circle, $color-white 8px, transparent 9px);
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
    background-image: radial-gradient(circle, transparent 9px, $color-white 10px, transparent 11px);

    &--is-active {
      background-image: radial-gradient(circle, $color-white 10px, transparent 11px);
    }
  }
}
