.input {
  position: relative;
  min-height: 50px;

  --padding-input-mobile: 15px;
  --padding-input-tablet: 30px;

  @media (min-width: $tablet-width) {
    min-height: 56px;
  }
}

.input__field {
  width: 100%;
  border-radius: 2px;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  outline: none;
  padding: 13px var(--padding-input-mobile);
  border: 1px solid transparent;
  background-color: $color-white;
  transition: border-color 0.3s;

  &::placeholder {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }

  &:hover {
    border-color: $color-navy-blue;
  }

  &:focus {
    border-color: $color-elephant;
  }

  &:focus::placeholder {
    opacity: 1;
    visibility: visible;
  }

  &:disabled {
    pointer-events: none;
    border-color: $color-nobel;
  }

  .input--error & {
    border-color: $color-torch-red;
    color: rgba(45, 56, 63, 0.5);
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;
    padding: 16px 30px;
  }
}

.input__label {
  position: absolute;
  left: var(--padding-input-mobile);
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(45, 56, 63, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5, visibility 0.5s;

  .input:has(.input__field:focus) & {
    opacity: 0;
    visibility: hidden;
  }

  .input--hide-label & {
    opacity: 0;
    visibility: hidden;
  }

  .input:has(.input__field:disabled) & {
    color: $color-nobel;
  }

  @media (min-width: $tablet-width) {
    left: var(--padding-input-tablet);
  }
}

.input__error-text {
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(45, 56, 63, 0.5);

  &--show {
    display: block;
  }
}
