.learning-card {
  max-width: 250px;
  padding-bottom: 25px;
  padding-left: 49px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: top 1px left 15px;

  &--route {
    background-image: url('/__spritemap#sprite-map-view');
  }

  &--equipment {
    background-image: url('/__spritemap#sprite-boots-view');
  }

  &--ecology {
    background-image: url('/__spritemap#sprite-pine-tree-view');
  }

  &--obstacles {
    background-image: url('/__spritemap#sprite-mountain-view');
  }

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 1.57;
    background-position: top 0 left 0;
  }

  @media (min-width: $desktop-width) {
    width: 253px;
    padding-left: 45px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.5;
    background-position: top 0 left 10px;
  }
}
