.learning-card {
  max-width: 250px;
  padding-left: 49px;

  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: top 1px left 15px;
  color: $color-elephant;

  &--route {
    background-image: url("/__spritemap#sprite-map-view");
  }

  &--equipment {
    background-position: top 3px left 15px;
    background-size: 25px 21px;
    background-image: url("/__spritemap#sprite-boots-view");
  }

  &--ecology {
    background-image: url("/__spritemap#sprite-pine-tree-view");
  }

  &--obstacles {
    background-image: url("/__spritemap#sprite-mountain-view");
  }

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-bottom: 0;
    background-position: top 0 left 0;
  }

  @media (min-width: $desktop-width) {
    width: 253px;
    padding-left: 45px;
    padding-right: 10px;
    background-position: top 2px left 10px;
  }
}

.learning-card__title {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1.57;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}
