.logo {
  width: 142px;
  aspect-ratio: 142 / 42;
  opacity: 1;
  transition: opacity 0.3s;

  &--dark:hover {
    opacity: 0.6;
  }

  &--dark:active {
    opacity: 0.4;
  }

  @media (min-width: $desktop-width) {
    &--dark {
      width: 200px;
      height: 60px;
    }
  }

  @media (min-width: $wide-desktop-width) {
    width: 205px;
    height: 62px;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  display: block;
}
