.main-header {
  position: relative;
  padding: 15px 0 3px;
  min-height: 100px;
  background-color: $color-navy-blue;
  --link-padding: 5px;
  --mobile-side-padding: 15px;
  --tablet-side-padding: 45px;
  z-index: $z-index-second;

  @media (min-width: $tablet-width) {
    min-height: 82px;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 126px;
    padding: 32px 0;
  }
}

.main-header__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px 4px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 142px 1fr;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 205px 1fr 157px;
    gap: 40px;
  }
}

.main-header__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  padding: 0 10px 10px 0;
  cursor: pointer;
  background-color: unset;
  color: $color-white;
  transition: color 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 0.50);
  }

  &:focus {
    color: $color-elephant;
  }

  &:active {
    color: $color-resolution-blue;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 10px 8px 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__close-icon {
  display: none;

  .main-header--nav-is-opened & {
    display: block;
  }
}

.main-header__burger-icon {
  .main-header--nav-is-opened & {
    display: none;
  }
}

.main-header__nav-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - 100%);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(45, 56, 63, 0.60);
  overflow-y: auto;
  transition: opacity 0.5s, visibility 0.5s;

  .main-header--nav-is-opened & {
    z-index: $z-index-third;
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: $desktop-width) {
    position: unset;
    visibility: visible;
    opacity: 1;
    width: unset;
    height: unset;
    overflow-y: unset;
    padding: unset;
    grid-column: 2 / 3;
    background-color: unset;
  }
}

.main-header__nav-list {
  width: 100vw;
  margin: 0 auto;
  padding: 30px calc(50vw - $mobile-width / 2 + var(--mobile-side-padding));
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: $color-navy-blue;

  @media (min-width: $tablet-width) {
    padding: 30px calc(50vw - $tablet-width / 2 + var(--tablet-side-padding));
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    padding: unset;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.main-header__nav-item {
  width: fit-content;
  display: block;
}

.main-header__link {
  display: block;
  margin-left: calc(var(--link-padding) * -1);
  padding: 3px 5px;
  text-decoration: none;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: border-bottom-color 0.3s;
  color: $color-white;

  &:hover {
    border-bottom-color: $color-white;
  }

  &:focus {
    border-color: $color-white;
  }

  &:active {
    border-color: transparent;
    color: $color-resolution-blue;
  }

  &--is-disabled {
    color: $color-nobel;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }

  @media (min-width: $desktop-width) {
    text-transform: unset;
    margin-left: unset;
    font-weight: 400;
    letter-spacing: unset;
  }
}


.main-header__logo {
  justify-self: flex-end;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: unset;
  }
}

.main-header__phone {
  grid-column: 2 / -1;
  justify-self: flex-end;
  padding: 10px 0;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: $color-white;
  transition: color 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 0.50);
  }

  &:focus {
    color: $color-elephant;
  }

  &:active {
    color: $color-resolution-blue;
  }

  &--is-disabled {
    color: $color-nobel;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: -1 / -2;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
