.reviews {
  padding: 20px 0 0;

  --section-inner-width-tablet: 678px;
  --section-inner-width-desktop: 1200px;
  --buttons-list-width: 78px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.reviews__slider-content {
  position: relative;
}

.reviews__container {
  overflow: hidden;
}

.reviews__slider {
  
  @media (min-width: $tablet-width) {
    overflow: hidden;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
  }
}

.reviews__title {
  margin: 0;
  max-width: 550px;
}

.reviews__buttons-swiper-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    top: 20px;
    left: calc(50vw + var(--section-inner-width-tablet) / 2 - var(--buttons-list-width));
  }

  @media (min-width: $desktop-width) {
    left: calc(50vw + var(--section-inner-width-desktop) / 2 - var(--buttons-list-width));
    top: 45px;
  }
}

.reviews__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}

.reviews__slider-item {
  padding: 16px 0 0;

  @media (min-width: $tablet-width) {
    padding: 27px 0 26px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0 26px;
  }
}
