.review-card {
  min-width: 290px;
  max-width: 290px;
  min-height: 484px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-white;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  @media (min-width: $tablet-width) {
    margin: unset;
    min-width: 565px;
    max-width: 565px;
    min-height: 277px;
    padding: 18px 20px 22px;
    grid-template-columns: 186px 1fr;
    align-items: center;
    grid-template-rows: auto 1fr;
    column-gap: 30px;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  }

  @media (min-width: $desktop-width) {
    min-width: 700px;
    max-width: 700px;
    min-height: 293px;
    grid-template-columns: 258px 1fr;
    padding: 20px 40px 20px 20px;
    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  }
}

.review-card__image-wrap {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    grid-row: 1 / 4;
  }
}

.review-card__image {
  display: block;
}

.review-card__content {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }

  p:has(+ h3) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    p {
      margin-bottom: 12px;
    }

    p:has(+ h3) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 1.57;

    p {
      font-size: 14px;
      line-height: 1.57;
    }
  }
}

.review-card__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    align-self: flex-end;
    font-size: 13px;
  }
}

.review-card__addition-info {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}
