.reviews {
  padding: 20px 0;

  --section-inner-width-tablet: 678px;
  --section-inner-width-desktop: 1200px;
  --buttons-list-width: 78px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.reviews__slider-content {
  position: relative;
}

.reviews__container {
  overflow: hidden;
}

.reviews__title {
  margin: 0;
  max-width: 550px;
  padding-top: 18px;
  @media (min-width: $tablet-width) {

  }

}

.reviews__buttons-swiper-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    top: 18px;
    left: calc(50vw + var(--section-inner-width-tablet) / 2 - var(--buttons-list-width));
  }

  @media (min-width: $desktop-width) {
    left: calc(50vw + var(--section-inner-width-desktop) / 2 - var(--buttons-list-width));
  }
}

.reviews__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}

.reviews__slider-item {
  padding: 25px 0 30px 0;

  @media (min-width: $tablet-width) {
    padding: 23px 0 30px 0;
    width: fit-content;
  }
}
