.section-title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  word-break: break-word;
  // vertical-align: baseline;

  &--with-shadow {
    position: relative;
    // display: flex;
    // min-height: 55px;
    // align-items: baseline;
    // gap: -345px;
    // flex: 1 0 0;

    &::after {
      content: attr(data-title) / "";
         display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 26px;
      font-weight: 800;
      line-height: 1;
      word-break: break-all;
      opacity: 0.03;
      transform: translateZ(-1px);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 25px;

    &--with-shadow {
      // padding: 20px 0 10px;
    }

    &--with-shadow::after {
      font-size: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;

    &--with-shadow {
      // padding: 23px 0 10px;
    }

    &--with-shadow::after {
      font-size: 55px;
      // bottom: 0;
    }
  }
}
