.section-title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  word-break: break-word;

  &--with-shadow {
    position: relative;
    padding-top: 20px;

    &::after {
      content: attr(data-title) / "";
      display: block;
      position: absolute;
      bottom: 12px;
      left: 0;
      font-size: 26px;
      font-weight: 800;
      line-height: 1;
      word-break: break-all;
      opacity: 0.03;
      transform: translateZ(-1px);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 25px;

    &--with-shadow {
      // padding: 20px 0 10px;
    }

    &--with-shadow::after {
      font-size: 40px;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;

    &--with-shadow {
      // padding: 23px 0 10px;
    }

    &--with-shadow::after {
      font-size: 55px;
      // bottom: 0;
    }
  }
}
