.tours {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.tours__slider {
  overflow: hidden;
}

.tours__top-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.tours__title {
  margin: 0;
  width: 100%;
}

.tours__buttons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 4px;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {}
}

.tours__slider-list {
  width: 100%;
  margin: 0 auto 25px;
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.tours__slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tours__button-secondary {
  width: fit-content;
  margin: 0 auto;
}
