.tours {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.tours__wrapper {
  position: relative;
}

.tours__buttons-swiper-list {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: $z-index-first;
}

.tours__slider {
  overflow: hidden;
}

.tours__title {
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  max-width: 550px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    max-width: 550px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.tours__slider-list {
  width: 100%;
  margin: 0 auto 25px;
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.tours__slider-item {
  display: flex;
  justify-content: center;
  height: auto;
}

.tours__button-secondary {
  width: fit-content;
  margin: 0 auto;
}
