.tours-card {
  width: 100%;
  max-width: 380px;
  min-height: 416px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-black-forest;

  --star-width: 16px;
  --space-between-stars: 1px;
}

.tours-card__image-wrap {
  max-width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.tours-card__image-wrap img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.tours-card__overlay {
  max-width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 20px;
}

.tours-card__top-info {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: $color-white;
  word-break: break-word;
}

.tours-card__duration-wrap {
  margin: 0;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  flex-wrap: wrap;
}

.tours-card__info {
  padding: 4px 0 4px 32px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 20px 20px;

  &--place {
    margin-top: 7px;
    max-width: fit-content;
    background-color: $color-navy-blue;
    padding: 8px 12px 8px 34px;
    background-image: url("/__spritemap#sprite-map-marker-view");
    background-size: 16px 16px;
    background-position: 12px center;
  }

  &--days {
    background-image: url("/__spritemap#sprite-sun-view");
  }

  &--nights {
    background-image: url("/__spritemap#sprite-moon-view");
  }
}

.tours-card__title {
  margin: 0;
  width: 235px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: $color-white;
  background-image:
    linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 2px),
    linear-gradient(to right, rgba(255, 255, 255, 0.2) 80px, transparent 81px);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 80px 1px;
  word-break: break-word;
}

.tours-card__list-conditions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 84px auto auto;
  justify-content: space-between;
  column-gap: 7px;
  row-gap: 5px;
  color: $color-white;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  word-break: break-all;
}

.tours-card__conditions-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tours-card__conditions-item--complicity::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84px;
  max-width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-raiting-star-view");
  background-size: 16px 16px;
  background-repeat: space;
  background-position: left bottom;
}

.tours-card__conditions-item::before {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84px;
  max-width: 84px;
  height: 16px;
  background-image: url("/__spritemap#sprite-raiting-filled-star-view");
  background-size: 16px 16px;
  background-repeat: space;
  background-position: left bottom;
}

.tours-card__conditions-item--one-level::before {
  display: block;
  width: var(--star-width);
  max-width: var(--star-width);
}

.tours-card__conditions-item--two-level::before {
  display: block;
  width: calc(var(--star-width) * 2 + var(--space-between-stars));
  max-width: 33px;
}

.tours-card__conditions-item--three-level::before {
  display: block;
  width: calc(var(--star-width) * 3 + var(--space-between-stars) * 2);
  max-width: calc(var(--star-width) * 3 + var(--space-between-stars) * 2);
}

.tours-card__conditions-item--four-level::before {
  display: block;
  width: calc(var(--star-width) * 4 + var(--space-between-stars) * 3);
  max-width: calc(var(--star-width) * 4 + var(--space-between-stars) * 3);
}

.tours-card__conditions-item--five-level::before {
  display: block;
  width: calc(var(--star-width) * 5 + var(--space-between-stars) * 4);
  max-width: calc(var(--star-width) * 5 + var(--space-between-stars) * 4);
}

.tours-card__conditions-info {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}

.tours-card__conditions-title {
  display: block;
  margin-bottom: 7px;
}
